<h3>
    Hello {{ user->getName() }}, please confirm your email address.
</h3>

<p>
    Please confirm your email address by clicking <a href="http://localhost/symfony-tuto/project/public/api/users/confirm">this link</a>
</p>